{{ template "header.tmpl" . }}

<link href="/static/css/job-leads.css" rel="stylesheet" type="text/css">

<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800">Job Leads</h1>
	<button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#newJobModal"><i
			class="fas fa-download fa-sm text-white-50"></i> Add New</a>
</div>

<h5>Potential</h5><hr>

<div class="row">
	<!-- Example Job Card -->
	<div class="col-xl-3 col-md-6 mb-4 job-card">
		<div class="card border-left-primary shadow h-100 py-2" data-toggle="modal" data-target="#exampleModal">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="h5 mb-0 font-weight-bold text-gray-800">Google</div>
						<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
							Software Engineer
						</div>
					</div>
					<div class="col-auto">
						<!-- <i class="fas fa-calendar fa-2x text-gray-300"></i> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<h5>Applied</h5><hr>

<div class="row">
	<div class="col">col</div>
	<div class="col">col</div>
	<div class="col">col</div>
	<div class="col">col</div>
</div>

<h5>Interview Stage</h5><hr>

<div class="row">
	<div class="col">col</div>
	<div class="col">col</div>
	<div class="col">col</div>
	<div class="col">col</div>
</div>

<h5>Offer Made</h5><hr>

<div class="row">
	<div class="col">col</div>
	<div class="col">col</div>
	<div class="col">col</div>
	<div class="col">col</div>
</div>

<h5>Denied</h5><hr>

<div class="row">
	<div class="col">col</div>
	<div class="col">col</div>
	<div class="col">col</div>
	<div class="col">col</div>
</div>

{{ range $k, $v := .jobs }}
	<ul>
		<li>{{ $v.JobId }}</li>
		<li>{{ $v.CompanyName }}</li>
		<li>{{ $v.Url }}</li>
		<li>{{ $v.Description }}</li>
		<li>{{ $v.Notes }}</li>
		<li>{{ $v.StatusId }}</li>
	</ul>
{{ end }}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Google: Software Engineer</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item" role="presentation">
						<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Job</a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Tasks</a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Notes</a>
					</li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
						<form>
							<div class="form-group row">
								<label for="company" class="col-4 col-form-label">Company</label>
								<div class="col-8">
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text">
												<i class="fa fa-building"></i>
											</div>
										</div>
										<input id="company" name="company" type="text" class="form-control">
									</div>
								</div>
							</div>
							<div class="form-group row">
								<label for="job-title" class="col-4 col-form-label">Job Title</label>
								<div class="col-8">
									<input id="job-title" name="job-title" type="text" class="form-control">
								</div>
							</div>
							<div class="form-group row">
								<label for="job-url" class="col-4 col-form-label">Job Posting URL</label>
								<div class="col-8">
									<input id="job-url" name="job-url" type="text" class="form-control">
								</div>
							</div>
							<div class="form-group row">
								<label for="status" class="col-4 col-form-label">Status</label>
								<div class="col-8">
									<select id="status" name="status" class="custom-select">
										<option value="potential">Potential</option>
										<option value="applied">Applied</option>
										<option value="interview-stage">Interview Stage</option>
										<option value="offer-made">Offer Made</option>
										<option value="denied">Denied</option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label for="description" class="col-4 col-form-label">Description</label>
								<div class="col-8">
									<textarea id="description" name="description" cols="40" rows="5" class="form-control"></textarea>
								</div>
							</div>
						</form>
					</div>
					<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
						<ul class="list-group list-group-flush">
							<li class="list-group-item">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="check1" checked>
									<label class="custom-control-label" for="check1">Check me</label>
								</div>
							</li>
							<li class="list-group-item">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="check2">
									<label class="custom-control-label" for="check2">Check me</label>
								</div>
							</li>
						</ul>
						<h6>Add New Task</h6>
						<form>
							<div class="form-row align-items-center">
								<div class="col-auto">
									<label class="sr-only" for="inlineFormInput">Name</label>
									<input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Jane Doe">
								</div>
								<div class="col-auto">
									<button type="submit" class="btn btn-primary mb-2">Add</button>
								</div>
							</div>
						</form>
					</div>
					<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
						<div class="form-group row">
							<label for="notes" class="col-4 col-form-label">Notes</label>
							<div class="col-8">
								<textarea id="notes" name="notes" cols="40" rows="5" class="form-control"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>

<!-- New Job Modal -->
<div class="modal fade" id="newJobModal" tabindex="-1" aria-labelledby="newJobModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Modal title</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group row">
						<label for="company" class="col-4 col-form-label">Company</label>
						<div class="col-8">
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<i class="fa fa-building"></i>
									</div>
								</div>
								<input id="company" name="company" type="text" class="form-control" required="required">
							</div>
						</div>
					</div>
					<div class="form-group row">
						<label for="job-title" class="col-4 col-form-label">Job Title</label>
						<div class="col-8">
							<input id="job-title" name="job-title" type="text" class="form-control" required="required">
						</div>
					</div>
					<div class="form-group row">
						<label for="job-url" class="col-4 col-form-label">Job Posting URL</label>
						<div class="col-8">
							<input id="job-url" name="job-url" type="text" class="form-control">
						</div>
					</div>
					<div class="form-group row">
						<label for="status" class="col-4 col-form-label">Status</label>
						<div class="col-8">
							<select id="status" name="status" class="custom-select" required="required">
								<option value="potential">Potential</option>
								<option value="applied">Applied</option>
								<option value="interview-stage">Interview Stage</option>
								<option value="offer-made">Offer Made</option>
								<option value="denied">Denied</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<div class="offset-4 col-8">
							<button name="submit" type="submit" class="btn btn-primary">Submit</button>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Discard</button>
				<button type="button" class="btn btn-primary">Add</button>
			</div>
		</div>
	</div>
</div>

{{ template "footer.tmpl" . }}
